html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('imagens/background2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.493);
    background-blend-mode: overlay;
    z-index: -1;
}